<nav class="">
  <div class="d-flex align-items-center justify-content-around">
    <div class="">
      <img
      src="../../assets/logo-jda1.png"
      class="logo-junta"
      alt="image desc"
    />
    <img
      src="../../assets/logo-juntaAndalucia.png"
      class="logo-domain"
      alt="image desc"
    />
    </div>
    <div>
      <ul class="d-flex justify-content-center gap-2">
        <li class="nav-item d-flex flex-column align-items-center  mx-">
          <i class="fa-solid fa-graduation-cap icon_color "></i>
          <a class="my_nav-link icon_nav_color" href="#" aria-current="page">Estudiar</a>
        </li>
        <li class="nav-item d-flex flex-column align-items-center  mx-1">
          <i class="fa-sharp fa-solid fa-briefcase icon_color "></i>
          <a class="my_nav-link icon_nav_color" href="#">Trabajar</a>
        </li>
        <li class="nav-item d-flex flex-column align-items-center  mx-1">
          <i class="fa-solid fa-heart-pulse icon_color "></i>
          <a class="my_nav-link icon_nav_color" href="#">Tu salud</a>
        </li>
        <li class="nav-item d-flex flex-column align-items-center  mx-1">
          <i class="fas fa-th icon_color "></i>
          <a class="my_nav-link icon_nav_color" href="#">Más Temas</a>
        </li>
        <li class="nav-item d-flex flex-column align-items-center  mx-1">
          <i class="fas fa-tint icon_color "></i>
          <a class="my_nav-link icon_nav_color" href="#">Transparencia</a>
        </li>
        <li class="nav-item d-flex flex-column align-items-center  mx-1">
          <img class="logo_size" src="../../assets/Icono-Junta_0.png" alt="" srcset="">
          <a class="my_nav-link icon_nav_color" href="#">La junta</a>
        </li>
        <li class="nav-item d-flex flex-column align-items-center  mx-1">
          <i class="fas fa-laptop icon_color "></i>
          <a class="my_nav-link icon_nav_color" href="#">Servicios</a>
        </li>
        <li class="nav-item d-flex flex-column align-items-center  mx-1">
          <i class="fas fa-newspaper icon_color"></i>
          <a class="my_nav-link icon_nav_color" href="#">Noticias</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
