<div class="buscador position-relatiive">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/recomendador-encontrar-empleo–02-marzo-2023.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/recomendador_jda_becas_02.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/boja_recomendador-_dic.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <div class="contenedor-buscador position-absolute top-50 start-50 translate-middle">
    <div class="row">
      <p>En que podemos ayudarte</p>
    </div>
    <div class="row">
      <form action="" method="post">
        <input class="input_buscador position-relative" type="text" name="" id="">
        <button class="btn_buscador position-absolute" type="submit">
          <i class="fas fa-binoculars"></i>
        </button>
      </form>
    </div>
  </div>
</div>
