<div class=" d-block w100 bg-secondary py-3">
  <!-- lo pongo de otro color para que se vea -->
  <div class="container">
    <h1 class="d-flex py-3 mb-2">
      Directo A
    </h1>
  </div>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class=" carousel-item active ">
        <div class="d-flex justify-content-center">
          <div class="card ">
            <div class="card_icon">
              <i class="fas fa-graduation-cap i_icon"></i>
            </div>
            <div class="card_title">
              <a href="https://www.juntadeandalucia.es/temas/estudiar.html">Estudiar</a>
            </div>
            
            <div class="card_group_list">
            
              <div class="item-list">
                <ul class="list_group">
                  <li class="list_group-item">Escolarización 2023/2024</li>
                  <li class="list_group-item">Pasen</li>
                  <li class="list_group-item">Becas Junta de Andalucia</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card ">
            <div class="card_icon">
              <i class="fas fa-graduation-cap i_icon"></i>
            </div>
            <div class="card_title">
              <a href="https://www.juntadeandalucia.es/temas/estudiar.html">Estudiar</a>
            </div>
            
            <div class="card_group_list">
            
              <div class="item-list">
                <ul class="list_group">
                  <li class="list_group-item">Escolarización 2023/2024</li>
                  <li class="list_group-item">Pasen</li>
                  <li class="list_group-item">Becas Junta de Andalucia</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card ">
            <div class="card_icon">
              <i class="fas fa-graduation-cap i_icon"></i>
            </div>
            <div class="card_title">
              <a href="https://www.juntadeandalucia.es/temas/estudiar.html">Estudiar</a>
            </div>
            
            <div class="card_group_list">
            
              <div class="item-list">
                <ul class="list_group">
                  <li class="list_group-item">Escolarización 2023/2024</li>
                  <li class="list_group-item">Pasen</li>
                  <li class="list_group-item">Becas Junta de Andalucia</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card ">
            <div class="card_icon">
              <i class="fas fa-graduation-cap i_icon"></i>
            </div>
            <div class="card_title">
              <a href="https://www.juntadeandalucia.es/temas/estudiar.html">Estudiar</a>
            </div>
            
            <div class="card_group_list">
            
              <div class="item-list">
                <ul class="list_group">
                  <li class="list_group-item">Escolarización 2023/2024</li>
                  <li class="list_group-item">Pasen</li>
                  <li class="list_group-item">Becas Junta de Andalucia</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" carousel-item active ">
        <div class="d-flex justify-content-center">
          <div class="card ">
            <div class="card_icon">
              <i class="fas fa-graduation-cap i_icon"></i>
            </div>
            <div class="card_title">
              <a href="https://www.juntadeandalucia.es/temas/estudiar.html">Estudiar</a>
            </div>
            
            <div class="card_group_list">
            
              <div class="item-list">
                <ul class="list_group">
                  <li class="list_group-item">Escolarización 2023/2024</li>
                  <li class="list_group-item">Pasen</li>
                  <li class="list_group-item">Becas Junta de Andalucia</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card ">
            <div class="card_icon">
              <i class="fas fa-graduation-cap i_icon"></i>
            </div>
            <div class="card_title">
              <a href="https://www.juntadeandalucia.es/temas/estudiar.html">Estudiar</a>
            </div>
            
            <div class="card_group_list">
            
              <div class="item-list">
                <ul class="list_group">
                  <li class="list_group-item">Escolarización 2023/2024</li>
                  <li class="list_group-item">Pasen</li>
                  <li class="list_group-item">Becas Junta de Andalucia</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card ">
            <div class="card_icon">
              <i class="fas fa-graduation-cap i_icon"></i>
            </div>
            <div class="card_title">
              <a href="https://www.juntadeandalucia.es/temas/estudiar.html">Estudiar</a>
            </div>
            
            <div class="card_group_list">
            
              <div class="item-list">
                <ul class="list_group">
                  <li class="list_group-item">Escolarización 2023/2024</li>
                  <li class="list_group-item">Pasen</li>
                  <li class="list_group-item">Becas Junta de Andalucia</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card ">
            <div class="card_icon">
              <i class="fas fa-graduation-cap i_icon"></i>
            </div>
            <div class="card_title">
              <a href="https://www.juntadeandalucia.es/temas/estudiar.html">Estudiar</a>
            </div>
            
            <div class="card_group_list">
            
              <div class="item-list">
                <ul class="list_group">
                  <li class="list_group-item">Escolarización 2023/2024</li>
                  <li class="list_group-item">Pasen</li>
                  <li class="list_group-item">Becas Junta de Andalucia</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" carousel-item active ">
        <div class="d-flex justify-content-center">
          <div class="card ">
            <div class="card_icon">
              <i class="fas fa-graduation-cap i_icon"></i>
            </div>
            <div class="card_title">
              <a href="https://www.juntadeandalucia.es/temas/estudiar.html">Estudiar</a>
            </div>
            
            <div class="card_group_list">
            
              <div class="item-list">
                <ul class="list_group">
                  <li class="list_group-item">Escolarización 2023/2024</li>
                  <li class="list_group-item">Pasen</li>
                  <li class="list_group-item">Becas Junta de Andalucia</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card ">
            <div class="card_icon">
              <i class="fas fa-graduation-cap i_icon"></i>
            </div>
            <div class="card_title">
              <a href="https://www.juntadeandalucia.es/temas/estudiar.html">Estudiar</a>
            </div>
            
            <div class="card_group_list">
            
              <div class="item-list">
                <ul class="list_group">
                  <li class="list_group-item">Escolarización 2023/2024</li>
                  <li class="list_group-item">Pasen</li>
                  <li class="list_group-item">Becas Junta de Andalucia</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card ">
            <div class="card_icon">
              <i class="fas fa-graduation-cap i_icon"></i>
            </div>
            <div class="card_title">
              <a href="https://www.juntadeandalucia.es/temas/estudiar.html">Estudiar</a>
            </div>
            
            <div class="card_group_list">
            
              <div class="item-list">
                <ul class="list_group">
                  <li class="list_group-item">Escolarización 2023/2024</li>
                  <li class="list_group-item">Pasen</li>
                  <li class="list_group-item">Becas Junta de Andalucia</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card ">
            <div class="card_icon">
              <i class="fas fa-graduation-cap i_icon"></i>
            </div>
            <div class="card_title">
              <a href="https://www.juntadeandalucia.es/temas/estudiar.html">Estudiar</a>
            </div>
            
            <div class="card_group_list">
            
              <div class="item-list">
                <ul class="list_group">
                  <li class="list_group-item">Escolarización 2023/2024</li>
                  <li class="list_group-item">Pasen</li>
                  <li class="list_group-item">Becas Junta de Andalucia</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
